#gridContainer {
  width: 500px;
  aspect-ratio: 1/1;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  box-sizing: border-box;
  border: 1px solid black;
}
#mainContent {
  display: flex;
  justify-content: space-around;
}
