body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 20px;
}

#container {
  width: 500px;
  aspect-ratio: 1/1;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 1px solid black;
}